body{
    background-color:rgb(223, 223, 223);
}
#navbar{
    background-color: rgb(255, 255, 255);
}
#works{
    background-color: rgb(99, 99, 99);
}
#contact{
    background-color: rgb(255, 255, 255);
}