body{
    background-color:rgb(223, 223, 223);
    text-align: center;
}
#navbar{
    background-color: rgb(255, 255, 255);
    font-size: 23px;
    min-height: 35px;
    padding-top: 35px;
}
nav ul li{
    display: inline;
    margin: 105px;
}

#social li{
    display: inline;
}
a {
    text-decoration: none;
    color: black;
}
#navb{
    color:black;
}
#heading{
    color:black;
}
#heading p{
    color:rgb(43, 43, 43);
}
#projects{
    background-color: rgb(99, 99, 99);
}
#projects div{
    display: inline-block;
    margin: 75px;
}
#works ul{
    display: inline-block;
}
#contact{
    background-color: rgb(255, 255, 255);
    text-decoration: black;
}
#social li{
    margin: 75px;
}
